<h2>Edit Celebrity´s info</h2>

<form action='/celebrities/{{id}}' method='POST'>

  <input type='text' name='name' value='{{celebrity.name}}' />

  <input type='text' name='occupation' value='{{celebrity.occupation}}' />

  <input type='text' name='catchPhrase' value='{{celebrity.catchPhrase}}' />

  <button>Edit Finished</button>
  
</form>